{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-light" style="height: 1040px;">
    <div class="catalog-menu bg-light" style="width: auto;">
        <div class="d-flex">
            <input class="form-control me-2 search-prod" value="" type="search" placeholder="Найти" aria-label="Search" style="width: 30em;">
            <button onclick="Search(1)" class="btn btn-outline-success btn-search-prod">Найти</button>
        </div>
        <h2 style="padding-top: 1em;">Одежда и обувь</h2>
        <ul class="main-nav clearfix bg-light catalog-menu-3" style="padding-top: 0.5em;">
            <li><h4>Женщинам</h4></li>
            <li><a href="/search/q=Платья и сарафаны">Платья и сарафаны</a></li>
            <li><a href="/search/q=Джемперы, свитеры">Джемперы, свитеры</a></li>
            <li><a href="/search/q=Верхняя одежда">Верхняя одежда</a></li>
            <li><a href="/search/q=Водолазки">Водолазки</a></li>
            <li><a href="/search/q=Блузки и рубашки">Блузки и рубашки</a></li>
            <li><a href="/search/q=Футболки и топы">Футболки и топы</a></li>
            <li><a href="/search/q=Толстовки и свитшоты">Толстовки и свитшоты</a></li>
            <li><a href="/search/q=Брюки">Брюки</a></li>
            <li><a href="/search/q=Джинсы">Джинсы</a></li>
            <li><a href="/search/q=Юбки">Юбки</a></li>
            <li><a href="/search/q=Спортивная одежда">Спортивная одежда</a></li>
            <li><a href="/search/q=Домашняя одежда">Домашняя одежда</a></li>
            <li><a href="/search/q=Нижнее белье">Нижнее белье</a></li>
            <li><a href="/search/q=Боди">Боди</a></li>
            <li><a href="/search/q=Носки, чулки, колготки">Носки, чулки, колготки</a></li>
            <li><a href="/search/q=Шорты">Шорты          </a></li>
            <li><a href="/search/q=Обувь">Обувь</a></li>
        </ul>
        <ul class="main-nav clearfix bg-light catalog-menu-3" style="padding-top: 0.5em;">
            <li><h4>Мужчинам</h4></li>
            <li><a href="/search/q=Верхняя одежда">Верхняя одежда</a></li>
            <li><a href="/search/q=Спортивная одежда">Спортивная одежда</a></li>
            <li><a href="/search/q=Свиттеры и кардиганы">Свиттеры и кардиганы</a></li>
            <li><a href="/search/q=Пуловеры и водолызки">Пуловеры и водолызки</a></li>
            <li><a href="/search/q=Футболки и майки">Футболки и майки</a></li>
            <li><a href="/search/q=Толстовки и свитшоты">Толстовки и свитшоты</a></li>
            <li><a href="/search/q=Брюки">Брюки</a></li>
            <li><a href="/search/q=Джинсы">Джинсы</a></li>
            <li><a href="/search/q=Рубашки">Рубашки</a></li>
            <li><a href="/search/q=Костюмы">Костюмы</a></li>
            <li><a href="/search/q=Пиджаки">Пиджаки<br></a></li>
            <li><a href="/search/q=Обувь">Обувь</a></li>
          </ul>
        <ul class="main-nav clearfix bg-light catalog-menu-3" style="padding-top: 0.5em;">
            <li><h4>Детям</h4></li>
            <li><a href="/search/q=Для девочек">Для девочек</a></li>
            <li><a href="/search/q=Для мальчиков">Для мальчиков</a></li>
            <li><a href="/search/q=Для малышей">Для малышей</a></li>
            <li><a href="/search/q=Обувь">Обувь</a></li>
            <li><a href="/search/q=Школьная одежда и обувь">Школьная одежда и обувь</a></li>
            <li><a href="/search/q=Спортивная одежда">Спортивная одежда</a></li>
            <li><a href="/search/q=Сумки и рюкзаки">Сумки и рюкзаки</a></li>
            <li><a href="/search/q=Аксессуары">Аксессуары</a></li>
        </ul>
    </div>
</div>
{% endblock %}