{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-light" style="height: 1040px;">
    <div class="catalog-menu bg-light" style="width: auto;">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 30em;">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <h2 style="padding-top: 1em;">Одежда и обувь</h2>
        
    </div>
</div>
{% endblock %}