{% extends "base.html" %}

{% block content %}
<div class="album py-5 bg-light" style="height: auto;">
    <div class="catalog-menu bg-light" style="width: auto;">
        <div class="product-page">
            <div class="left-info">
                <img src="/static/img/user.png" alt="" class="round">
                <h1>{{ current_user.name }}</h1>
                <div class="d-flex">
                    <a class="firstbtn btn-quick-order" style="margin: 1em; width: 100%; display: block;" href="/change-profile" class="color: red;">Изменить</a>
                </div>
            </div>
            <div class="header-top clearfix" style="display: block; width: 100vw;">
                <ul class="main-nav clearfix header-info" style="padding-top: 1em;">
                <li><button class="btn-for-profile" onclick="Fav()" style="color: rgb(161, 141, 108); font-size: 2em; margin-left: 0;">Избранное</button></li>
                <li><button class="btn-for-profile" onclick="Req()" style="color: rgb(161, 141, 108); font-size: 2em; margin-left: 0;">История поиска</button></li>
                <li><button class="btn-for-profile" onclick="About()" style="color: rgb(161, 141, 108); font-size: 2em; margin-left: 0;">Обо мне</button></li>
                </ul>
                <div class="favourite-profile" style="margin-top: 5em; margin-left: 1em;">
                    <div class="card-row">
                        {% for card in favourite_cards %}
                        <div>
                            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
                            <img src={{card[0]}} class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ card[2] }}</h5>
                                <p class="card-text">{{ card[1] }} <br> <small>{{ card[4] }}</small></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href={{card[3]}} class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                    <button type="submit" class="btn send-card" value={{card[5]}}><ion-icon size="large" name="heart"></ion-icon></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="requests-profile" style="margin-top: 5em; margin-left: 1em;">
                    <div class="card-row">
                        {% for card in requests_cards %}
                        <div style="display: block; width: 100%; margin-bottom: 2em;">
                            <div class="card shadow-sm" style="margin-right: 1em;">
                            <div class="card-body">
                                <h5 class="card-title" style="display: inline-block;">{{ card }}</h5>
                                <a href="/search/q={{card}}" style="float: right;" class="btn send-card"><ion-icon name="search-outline"></ion-icon></a>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="about-me" style="margin-top: 5em; margin-left: 1em;">
                    <div class="text-center">
                        <h1>{{ current_user.name }}</h1>
                        <h2>{{ current_user.email }}</h2>
                        <h2>{{ current_user.speciality }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/profile.js"></script>
{% endblock %}