<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>The Great Keksby</title>
    <link href="/static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style2.css">

<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-header">
      <div class="header-top clearfix">
        <div style="float: left;">
          <img src="/static/img/logo3.png" alt="The Great Keksby" height="100">
        </div>
        <ul class="main-nav clearfix header-info" style="padding-top: 1em;">
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Помощь</a></li>
          <li><a href="#">Избранное</a></li>
        </ul>
        <div class="login" style="padding-top: 1em;"> 
          <a class="firstbtn btn-quick-order" href="#">зарегистрироваться</a> 
          <a class="firstbtn btn-quick-order" href="#">Войти</a>
        </div>
      </div>
    </div>

    <main>

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="/static/img/glasses-1.jpg" class="bd-placeholder-img good-img" width="100%" height="500em" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>
            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Example headline.</h1>
                <p>Some representative placeholder content for the first slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="/static/img/glasses-2.jpg" class="bd-placeholder-img good-img" width="100%" height="500em" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="/static/img/glasses-3.jpg" class="bd-placeholder-img good-img" width="100%" height="500em" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>One more for good measure.</h1>
                <p>Some representative placeholder content for the third slide of this carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="album py-5 bg-light">
        <h1 class="album-title">Популярное<button type="button" class="btn btn-link" style="float: right;">смотреть все</button></h1>
        <div class="card-row">
          <div>
            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn"><ion-icon size="large" name="heart-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn"><ion-icon size="large" name="heart-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn"><ion-icon size="large" name="heart-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn"><ion-icon size="large" name="heart-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="card shadow-sm" style="width: 15rem; margin-right: 1em;">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn"><ion-icon size="large" name="heart-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
              </ul>
            </div>
      
            <div class="col-2">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
              </ul>
            </div>
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-secondary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>&copy; 2021 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </main>
  </body>
  <!-- <script>
    let elem = document.getElementsByClassName("login")[0];
    if (!(window.matchMedia('(min-device-aspect-ratio: 16/9)').matches || window.matchMedia('(min-device-aspect-ratio: 16/10)').matches)) {
        elem.remove();
    }
    
  </script> -->
  <script src="/static/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
    